### Heroes Of Pymoli Data Analysis

* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).


* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  

--------------------

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

###  Three observable trends
* There are 576 total players, with the majority being male at (84%). 
* Most players are in the early 20s, between the ages of 20-24 at (45%).
* The most popular item is "Final Critic" purchased 13 times; followed very closely by "Oathbreaker, Last Hope of the Breaking Storm" purchased 12 times.

------------------------------

In [159]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [160]:
# Player count
total_players = len(purchase_data["SN"].unique())

#Place summary count into a summary table
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [161]:
# Run basic calculations to obtain number of unique items, average price, number of purchases and total revenue.
number_of_items = len(purchase_data["Item Name"].unique())

total_revenue = sum(purchase_data["Price"])

total_purchases = len(purchase_data["Purchase ID"])

average_price = round(total_revenue / total_purchases, 2)

# Display the summary data frame
purchasing_sum = pd.DataFrame({"Number of Unique Items": [number_of_items], 
                               "Average Price": [average_price],                               
                              "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
# purchasing_sum

# Formatting
formatted_purchasing_dic = {"Average Price":"${0:,.2f}", "Total Revenue":"${0:,.2f}"}
purchasing_sum.style.format(formatted_purchasing_dic)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [162]:
# Group by gender
gender_groups = purchase_data.groupby(['Gender'])
# gender_groups.count()

# Count of Male, Female and Other/Non-Disclosed Players
total_count_bygender = gender_groups.nunique()['SN']
# total_count_bygender

# Percentage of Male, Female and Other / Non-Disclosed players
percentage_of_players = round(total_count_bygender / total_players, 4) 
# percentage_of_players

# Display the summary data frame
gender_count_sum = pd.DataFrame({"Total Count": total_count_bygender, "Percentage of Players": percentage_of_players})
# gender_count_sum

gender_count_dic = {"Percentage of Players":"{:.2%}"}
gender_count_sum.style.format(gender_count_dic)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [163]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = gender_groups['Purchase ID'].count()

avg_purchase_price = round(gender_groups['Price'].mean(), 2)

total_purchase_gender = gender_groups['Price'].sum()

avg_purchase_gender = round(total_purchase_gender / total_count_bygender, 2)

# Display the summary data frame
purchase_demo = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price,
                              "Total Purchase Value": total_purchase_gender, 
                              "Average Total Purchase per Person": avg_purchase_gender})
# purchase_demo

formatted_purchase_dic = {"Average Purchase Price":"${0:,.2f}" , "Total Purchase Value":"${0:,.2f}",
                              "Average Total Purchase per Person":"${0:.2f}"}

purchase_demo.style.format(formatted_purchase_dic)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [164]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Categorize the existing players using the age bins
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins=bins, labels=labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [165]:
# Group by age
age_grouped = purchase_data.groupby("Age Range")

# Calculate the numbers and percentages by age group
total_count = age_grouped['SN'].nunique()

percentage_age = round(total_count/total_players, 4) 

# Display the summary data frame
age_demo = pd.DataFrame({"Total Count": total_count, 
                        "Percentage of Players": percentage_age})
# age_demo

age_demo_dic = {"Percentage of Players":"{:.2%}"}
age_demo.style.format(age_demo_dic)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
# Bin the purchase_data data frame by age - done in previous frame

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc
purchase_count = age_grouped['Purchase ID'].count()

avg_purchase_price = round(age_grouped['Price'].mean(), 2)

total_purchase = age_grouped['Price'].sum()

avg_purchase = round(total_purchase / total_count, 2)

# Display the summary data frame
purchase_demo_byage = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price,
                              "Total Purchase Value": total_purchase, 
                              "Average Total Purchase per Person": avg_purchase})
# purchase_demo_byage

purchase_byage_dic = {"Average Purchase Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}", 
                     "Average Total Purchase per Person":"${0:,.2f}"}
purchase_demo_byage.style.format(purchase_byage_dic)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [167]:
# Group spenders by ID Name
spenders_grouped = purchase_data.groupby("SN")
# spenders_grouped.head()

# Run basic calculations to obtain the results: purchase count, avg purchase price and total purchase value
purchase_spenders_count = spenders_grouped["Purchase ID"].count()
# purchase_spenders_count

price_spenders_avg = round(spenders_grouped["Price"].mean(), 2)
# price_spenders_avg

purchase_spenders_total = spenders_grouped["Price"].sum()
# purchase_spenders_total

# Display the summary data frame
spenders_demo = pd.DataFrame({"Purchase Count": purchase_spenders_count, "Average Purchase Price": price_spenders_avg,
                                "Total Purchase Value": purchase_spenders_total})
# spenders_demo

# Formatting
spenders_dic = {"Average Purchase Price":"${0:,.2f}", "Total Purchase Value":"${0:,.2f}"}

# Sort the total purchase value column in descending order
descend_spenders_demo = spenders_demo.sort_values(["Total Purchase Value"], ascending=False).head()

# Display a preview of the summary data frame
descend_spenders_demo.style.format(spenders_dic)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [168]:
# Retrieve the Item ID, Item Name, and Item Price columns
select_columns = purchase_data[["Item ID", "Item Name", "Price"]]
# select_columns

# Group by Item ID and Item Name.
id_grouped = select_columns.groupby(["Item ID", "Item Name"])
# id_grouped

# Perform calculations to obtain purchase count, item price, and total purchase value
id_purchase_count = id_grouped["Price"].count()
# id_purchase_count

total_item_value = (id_grouped["Price"].sum())
# total_item_value

item_price = round(total_item_value / id_purchase_count, 2)
# item_price

# Create a summary data frame to hold the results
popular_items = pd.DataFrame({"Purchase Count": id_purchase_count,
                             "Item Price": item_price, "Total ID Purchase Value": total_item_value})

# Formatting
popular_dic = {"Item Price":"${0:,.2f}", "Total ID Purchase Value":"${0:,.2f}"}

# Sort the purchase count column in descending order
desc_popular_items = popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Display a preview of the summary data frame in cleaner form
desc_popular_items.style.format(popular_dic)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [169]:
# Sort the above table by total purchase value in descending order
desc_popular_items = popular_items.sort_values(["Total ID Purchase Value"], ascending=False).head()

# Formatting
popular_items_dic = {"Item Price":"${0:,.2f}", "Total ID Purchase Value":"${0:,.2f}"}

# Display a preview of the data frame
desc_popular_items.style.format(popular_items_dic)